APP_PORT=3800
DB_PORT_RANGE_START=27017
DB_PORT_RANGE_END=27019

#ROOT
DATABASE_ROOT_USERNAME=admind
DATABASE_ROOT_PASSWORD=mongoadminpass

#PRODUCTION SERVICE DB
DATABASE_DB=ecommerce
DATABASE_SERVICE_USERNAME=ecomservice
DATABASE_SERVICE_PASSWORD=mongoecomservicepass

#TEST SERVICE DB
DATABASE_TEST_DB=ecommercetest
DATABASE_TEST_USERNAME=ecomtest
DATABASE_TEST_PASSWORD=mongoecomtestpass

#JWT
SECRET=53kretk3y