APP_PORT=3800
DB_PORT_RANGE_START=2201
DB_PORT_RANGE_END=2202
DATABASE_ROOT_USER=mongodb
DATABASE_ROOT_PASSWORD=sergtsop
DATABASE_SERVICE_USER=ecommerce
DATABASE_SERVICE_PASSWORD=ecommerce
DATABASE_DB=example
SECRET=53kr3tk3y3x4mpl3